.u-section-1 .u-sheet-1 {
  min-height: 476px;
}

.u-section-1 .u-list-1 {
  width: 500px;
  margin: 28px 47px 0 auto;
}

.u-section-1 .u-repeater-1 {
  min-height: 397px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 72px 72px;
}

.u-section-1 .u-container-layout-1 {
  padding: 3px 0;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 8px auto 0 10px;
  padding: 3px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-size: 1.26667rem;
  margin: -60px 10px 0 92px;
}

.u-section-1 .u-container-layout-2 {
  padding: 3px 0;
}

.u-section-1 .u-icon-2 {
  width: 64px;
  height: 64px;
  color: rgb(255, 255, 255);
  background-image: none;
  margin: 8px auto 0 10px;
  padding: 3px;
}

.u-section-1 .u-text-2 {
  background-image: none;
  font-size: 1.26667rem;
  margin: -60px 10px 0 92px;
}

.u-section-1 .u-container-layout-3 {
  padding: 3px 0;
}

.u-section-1 .u-icon-3 {
  width: 64px;
  height: 64px;
  color: rgb(255, 255, 255);
  background-image: none;
  margin: 8px auto 0 10px;
  padding: 3px;
}

.u-section-1 .u-text-3 {
  background-image: none;
  font-size: 1.26667rem;
  margin: -60px 10px 0 92px;
}

.u-section-1 .u-text-4 {
  margin: -301px auto 0 56px;
}

.u-section-1 .u-image-1 {
  width: 519px;
  height: 380px;
  margin: -108px auto 60px 18px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    margin-top: -68px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    margin-right: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: -90px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: -90px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: -90px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 249px;
    margin-left: 0;
  }
}